/*#9E8E5C*/
/*#fc4*/

/*TODO: Add at media queries*/
.header-component {
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  clear: both;
}

.sticky{
  position: fixed;
  top: 0;
  left: 0;
}

.header-component ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.header-component ul li{
  height: 3em;
  flex-grow: 1;
  flew-basis: 10em;  /*Do no let them be thinner than ~15 letters*/
}

.header-component ul li:not(:first-child){
  border-bottom: 4px solid #333;
}

.header-component ul li a {
  color: #fc4;
  text-decoration: none;
  font-size: 1.12em;
}

.header-component ul li:first-child {
  background-color: #222;
}

.header-component ul li:not(:first-child) a {
  display: block;
  padding: 12px 0;
}

.header-component ul li:not(:first-child):hover {
  border-bottom: 4px solid #fc4;
}

.btn-open {
    position: relative;
    top: -14px;
    left: 25vw;
    display: none;
}

#brand{
  display: inline-block;
  padding: 0 2vw;
  min-width: 132px;
}

#brand span{
  font-family: "megrim", sans-serif;
  font-size: 20px;
  padding-left: 10px;
  position: relative;
  top: -14px;
}

#brand-logo{
  border-left: none;
  height: 32px;
  width: 32px;
  padding: 5px 0;
}



@media screen and (max-width: 800px) {
  .header-component ul{
    flex-flow: column;
  }

  .header-component ul li{
    flex-basis:auto;
    width: 100%;
  }

  ul.is-closed li:not(:first-child){
    display:none;
  }

  .btn-open {
      display: inline;
  }
}
