/* Font-stack: Open Sans for headings and Lora for content */
@import 'https://fonts.googleapis.com/css?family=Lora|Megrim|Open+Sans';

/* Base Application Styles */
body {
  background: #222;
  font-family: "Open Sans", sans-serif;
  /*background-image: url('../images/waves.png');*/
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/waves.png');
  background-size: 20vw;
  color: #ddd
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
h1, h2, h3, h4, h5, h6{
  font-family: "Lora", serif;
}

a:visited{
  color: #f84;
}

main{
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5vw;
  width: 60%;
  margin: 0 auto;
}
.index h1{
  margin-top: 2em;
  margin-bottom: .25em;
  color: #fc4;
  font-weight: normal;
}

.section-content{
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: space-around;
}

.screenshot{
  max-width: 100%;
}
