main{
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5%;
  width: 70%;
  margin: 0 auto;
}

.index h1{
  margin-top: 2em;
  margin-bottom: .25em;
  font-weight: normal;
}
.index h1 a{
  color: #fc4;
}

.section-content{
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: space-around;
}

img#landing-image {
    width: 100%;
    margin-bottom: -5px;
}

.material-icons{
  font-size: 1em;
  padding: 0 .25em;
}

.image-gallery-slide img {
  transition: all 1s ease;
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  main {
    padding: 5%;
    margin: 0 20%;
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  main {
    padding: 5%;
    width: 90%;
    margin: 0;
  }
}
