.about-component {
  /*border: 1px dashed #f00;*/
  min-width:0;
}

.carousel-wrapper {
  width: 80%;
  margin: 30px auto;
}

.member-image{
  height: 15vw;
  margin: 0 auto;
}

.member {
    display: inline-block;
}

.member .name, .member .email{
  text-align: center;
}
.member .name{
  color: #fc4;
}
.member .email{
  color: #c39c34;
}
